<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<% for comment in @post.comments %>
 <p>comentario:<%= comment.body %></p>
<% end %>


<h2>Add a comment:</h2>
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<p>editar</p>
<%= link_to 'editar post', edit_post_path(@post) %>

<p>eliminar</p>
<%= link_to 'eliminar post', post_path(@post), method: :delete %>

<p>regresa</p>
<%= link_to 'home', posts_path %>